@charset "utf-8";

body {
  color: #e2e2e2;
  background-color: #333;
}

.wrap {
  width: 100%;
  height: 100%;
}

.inner {
  width: 500px;
  margin: 50px auto 0;
}

/* header */
.header {
  height: 100px;
  padding-bottom: 40px;
  font-size: 5rem;
  color: #222;
  text-align: center;
  background-color: #b5d692;
}

/* main */
.main {
  padding: 20px 10px;
  border: 2px solid #a3cca3;
}

.todo_wrap {
  margin-bottom: 20px;
}

#todo_text {
  width: 60%;
  height: 50px;
  padding-left: 10px;
  background-color: #333;
  border: none;
  border-bottom: 1px solid #c0a801;
  outline: none;
}

.btn {
  padding: 5px 10px;
  font-weight: bold;
  color: #333;
  background-color: #b5d692;
  border-radius: 25%;
}

.btn.off {
  color: #aaa;
  text-decoration: line-through;
  cursor: default;
  border: 2px inset #ccc;
}

.sort_area {
  display: none;
  height: 0;
  margin: 10px;
  transition: all .3s;

  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.sort_area.on {
  display: block;
  height: 20px;
}

#sort_num {
  float: right;
  width: 40px;
  margin-top: 2px;
}

#sort_btn_on {
  float: right;
  margin-left: 10px;
}


/* 값 출력 */
.list_wrap {
  border-top: 1px solid #a3cca3;
  min-height: 100px;
  max-height: 600px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a3cca3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #9aafdd;
    border-radius: 10px;
  }
}

.item {
  height: 80px;
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px solid rgb(181, 214, 146);

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  &:first-child {
    .up_item {
      display: none;
    }

    .down_item {
      width: 66%;
    }
  }

  &:last-child {
    .up_item {
      width: 66%;
    }

    .down_item {
      display: none;
    }
  }

  /* 기본 상태. */
  &.normal {
    .delete_item {
      display: block;
      visibility: hidden;
    }

    &:hover {
      background-color: rgb(121, 42, 42);

      .delete_item {
        visibility: visible;
      }
    }
  }

  &.remove {
    .select_item {
      display: block;
    }
  }

  &.sort {
    .sort_item {
      display: block;
    }
  }
}

.btn_box {
  float: left;
  width: 8%;

  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.delete_item {
  display: none;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.select_item, .sort_item {
  display: none;
  position: relative;
  top: 25px;
  left: 10px;
  text-align: center;
}

.text_box {
  float: left;
  width: 70%;
  height: 70px;

  h4 {
    max-height: 2rem;
    padding: 10px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    padding-bottom: 100%;
  }

  &.off {

    h4,
    p {
      text-decoration: line-through;
      color: #666;
    }
  }
}

.icon_box {
  float: left;
  width: 20%;
  height: 70px;

  &.on button {
    visibility: visible;
  }

  button {
    // visibility: hidden;
    float: left;
    width: 33.3333%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: rgb(181, 214, 146);
  }
  
  .check_item {
    float: right;
  }
}