@charset "utf-8";

body {
  color: #e2e2e2;
  background-color: #333;
}

.wrap {
  width: 100%;
  height: 100%;
}

.inner {
  width: 500px;
  margin: 50px auto 0;
}

/* header */
.header {
  height: 100px;
  padding-bottom: 40px;
  font-size: 5rem;
  color: #222;
  text-align: center;
  background-color: #b5d692;
  border-radius: 10px 10px 0 0;
}

/* main */
.main {
  padding: 20px 10px;
  border: 2px solid #a3cca3;
  border-radius: 0 0 10px 10px;
}

#todo_wrap {
  margin-bottom: 20px;
}

#todo_text {
  width: 60%;
  height: 50px;
  padding-left: 10px;
  background-color: #333;
  border: none;
  border-bottom: 1px solid #c0a801;
  outline: none;
}

.btn {
  padding: 5px 10px;
  font-weight: bold;
  color: #333;
  background-color: #b5d692;
  border-radius: 25%;
}

.btn.off {
  color: #aaa;
  text-decoration: line-through;
  cursor: default;
  border: 2px inset #ccc;
}

.sort_area {
  display: none;
  margin: 10px;

  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.sort_area.on {
  display: block;
}

#sort_num {
  float: right;
  width: 100px;
  margin-top: 2px;
  color: #000;

  &:invalid {
    border: 3px solid red;
  }
}

#sort_btn_on {
  float: right;
  margin-left: 10px;
}


/* 값 출력 */
.list_wrap {
  border-top: 1px solid #a3cca3;
  min-height: 100px;
  max-height: 600px;
  overflow-x: hidden;

  /* IE, firefox 제외 적용 */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a3cca3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #9aafdd;
    border-radius: 10px;
  }
}

#list {

  .delete_item {
    display: block;
    visibility: hidden;
  }

  .item:hover {
    background-color: #5a3232;

    .delete_item {
      visibility: visible;
    }
  }


  &.remove,
  &.sort {
    .btn_box {
      display: none;
    }

    .text_box {
      padding-left: 8%;
      height: 100%;
      width: 100%;
    }

    .icon_box {
      display: none;
    }
  }

  &.remove {
    .item:hover {
      background-color: #5a3232;
    }
  }

  &.sort {
    .item:hover {
      background-color: #374422;
    }
  }

}


.item {
  height: 80px;
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px solid rgb(181, 214, 146);

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  &:first-child {
    .up_item {
      display: none;
    }

    .down_item {
      width: 66%;
    }
  }

  &:last-child {
    .up_item {
      width: 66%;
    }

    .down_item {
      display: none;
    }
  }
}

.btn_box {
  float: left;
  width: 8%;

  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.delete_item {
  display: none;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.remove_item,
.sort_item {
  display: none;
}

.text_box {
  float: left;
  width: 70%;
  height: 70px;

  &.remove_check {
    background-color: #5a3232;
  }

  &.sort_check {
    background-color: #374422;
  }

  h4 {
    padding: 10px 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    padding-bottom: 26px;
  }

  &.off {

    h4,
    p {
      text-decoration: line-through;
      color: #666;
    }
  }
}

.icon_box {
  float: right;
  width: 20%;
  height: 70px;

  button {
    visibility: hidden;
    float: left;
    width: 33.3333%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: rgb(181, 214, 146);
    color: #000;
  }

  &.on button {
    visibility: visible;
  }

  .check_item {
    float: right;
  }
}